<%- include("./partials/head") -%>
    <%- include("./partials/header") -%>

        <main class="px-5 md:px-20 py-2">
            <h2 class="text-center font-bold text-xl lg:text-5xl">Vends ou achète PC / Console / Jeux / Accessoires /
                multimedias
            </h2>
            <h3 class="pb-10 text-center"><strong>Vendstonstuff.fr</strong> est un site de vente de produit multimedia
                d'occasion.</h3>
            <p class="pb-5">Que recherches-tu ?</p>
            <div id="filters-container" class="pb-10 w-full">
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">PC
                    fixe</button>
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">PC
                    portable</button>
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">Console</button>
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">Jeux</button>
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">Accessoire
                    PC</button>
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">Accessoire
                    Console</button>
                <button
                    class="px-3 pb-2 pt-1 border-2 border-sky-900 rounded-full bg-violet-800 hover:bg-blue-400 transition ease-in-out">Composant
                    PC</button>
            </div>
            <div id="product-list" class="lg:flex flex-wrap gap-10 justify-center"></div>
        </main>

        <%- include("./partials/footer") -%>